body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.navbar {
  margin-bottom: 0;
  background-color: black;
  font-size: 12px;
  letter-spacing: 6px;
  font-family: Montserrat, sans-serif;
}

h3 {
  font-family: Verdana;
  color: white;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  color: inherit;
  background-color: #eee;
}

#research {
  padding-top: 30px;
  padding-bottom: 30px;
  
  background-color: white;
  width: 100%;
}

#video {
  padding: 30px 30px 30px 30px;
  position: relative;
  left: 40%;
  bottom: 0px;
}

#photos {
  width: 100%;
  background-color: #eee;
  padding-top: 50px
}
#news {
  background-color: #eee;
  width: 100%;
  padding: 30px 30px 30px 30px;
}

#articles {
  width: 100%;
  padding: 50px 50px 50px 50px;
  }

#learnMore {
  padding-bottom: 10px;
}

#mySlider {
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 600px;
  z-index: 15;
  top: 50%;
  left: 35%;
}

.singleSlide {
  background-size: cover;
  height: 400px;
  width: 600px;
  position: absolute;
  left: 100%;
  top: 1px;
}

#sliderNav {
  position: relative;
  top: -175px;
}

#sliderNav:hover {
  cursor: pointer;
}

#sliderPrev {
  position: absolute;
  }

#sliderNext {
  position: absolute;
  float: right;
  right: 10px;
}

@-webkit-keyframes slideIn {
  100% {
    left: 0;
  }
}

@keyframes slideIn {
  100% {
    left: 0;
  }
}

.slideInRight {
  left: -100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.slideInLeft {
  left: 100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

@keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

.slideOutLeft {
  -webkit-animation: slideOutLeft 1s forwards;
  animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

@keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

.slideOutRight {
  -webkit-animation: slideOutRight 1s forwards;
  animation: slideOutRight 1s forwards;
}